matplotlib
jieba
requests
openai
pandas
httpx
aiohttp
wordcloud
aiosmtplib
mail
mcrcon
ascii_magic
PicImageSearch
aiorpcx
asteval
yt-dlp
imageio[ffmpeg]
pilmoji[requests]
zhon
orjson
tencentcloud
ffmpeg-python
pdf2image   # also need to install poppler-utils
uvloop
pjsekai.scores